@model OceanKisBahcesi.WebUI.Models.AboutListViewModel
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Hakkımızda Listesi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="aboutTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Hakkımızda</th>
                        <th>Vizyonumuz</th>
                        <th>Misyonumuz</th>
                        <th>Dil</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Abouts)
                    {

                        //if (item.Language.Name == "tr-TR")
                        //{
                        //    language = "Türkçe";
                        //}
                        //if (item.Language.Name == "en-US")
                        //{
                        //    language = "İngilizce";
                        //}
                        <tr>
                            <td>@item.AboutDescription.Substring(0, 100) ...</td>
                            <td>@item.OurVisionDescription</td>
                            <td>@item.OurMission</td>
                            <td>@item.Language.Name</td>
                            <td>
                                <a href="/Admin/AboutUpdate?id=@item.Id" class="btn btn-success btn-sm">Güncelle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/Admin/js/AboutList.js"></script>
}



