@model OceanKisBahcesi.WebUI.Models.ProductViewModel
@{
    ViewData["Title"] = "Image2D";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form enctype="multipart/form-data">
    <input hidden id="path" value="@Model.Product.Path" />
    <div class="form-group">
        <label for="exampleFormControlFile1">Resim Seç</label>
        <input type="file" accept="image/*" class="form-control-file" id="file">
    </div>
    @if (Model.Count2DImages > 0)
    {
        <button type="button" onclick="updateProduct2DImage()" class="btn btn-success">Güncelle</button>

    }
    else {
    <button type="button" onclick="addProduct2DImage()" class="btn btn-info">Ekle</button>

    }

</form>

<hr />
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ürüne ait 2D resim</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if (Model.Count2DImages>0)
            {
                <table class="table table-bordered" id="ımageTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            @*<th>İşlemler</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="/Images/2DImages/@Model.Product2DImage.Image" width="200" height="200">
                            </td>
                            @*<td>
                                    <button type="button" onclick="deleteSubProduct2DImage(@Model.Product2DImage.Id)" class="btn btn-danger btn-sm">Sil</button>
                                </td>*@
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p class="text-center">Ürüne ait 2D resim bulunamadı.</p>
            }

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Admin/js/AddProductImage.js"></script>

}


